<template name="eventsPage">
    <div class="topTableRow">
		<h3 align="center">Event</h3>
		<form class="form" novalidate="novalidate">
			<div class="form-group">
				<label for="name">Name</label>
				<input class="form-control" id="name" type="text" required/>
				<div class="warningLabelInvisible" id="nameWarning">Error: Name field is required.</div>
			</div>
			<div class="form-group">
				<label for="tables">Number of Tables</label>
				<input class="form-control" id="tables" type="text" required/>
				<div class="warningLabelInvisible" id="tablesWarning">Error: Tables field is required.</div>
			</div>
			<div class="form-group">
				<label for="seats">Seats per Table</label>
				<input class="form-control" id="seats" type="text" required/>
				<div class="warningLabelInvisible" id="seatsWarning">Error: Seats field is required.</div>
			</div>
			<div class="form-group">
				<label for="days">Number of Days</label>
				<input class="form-control" id="days" type="text" required/>
				<div class="warningLabelInvisible" id="daysWarning">Error: Days field is required.</div>
			</div>
			<div class="form-group">
				<label for="attendees">Attendees</label>
                <button type="button" class="btn btn-primary companyToggle">{{companyButtonText}}</button>
				<textarea class="form-control" id="attendees" rows="6" placeholder="{{attendeesPlaceholder}}" required>{{attendeesText}}</textArea>
				<div class="warningLabelInvisible" id="attendeesWarning">Error: Attendees field is required.</div>
				<div class="warningLabelInvisible" id="attendeesMissingWarning">Error: All attendees must have a name{{attendeesMissingWarning}}.</div>
			</div>
			or
			<div class="form-group" style="padding-top: 10px">
				<label class="custombutton" for="attendeesFile" style="">Load Attendees from a File</label>
				<input class="inputfile" id="attendeesFile" type="file"/>
			</div>
			<button class="btn btn-primary submitButton">Generate</button>
		</form>
	</div>
</template>
