<template name="generatePage">
	<div class="jumbotron">
		<!--form class="form-horizontal" role="form" name="daysForm">
			<div class="form-group">
				<div class="row">
					<label class="control-label col-xs-2" for="Number of Days">Number of Days</label>
					<div class="col-xs-10" style="padding-right: 40px">
						<input type="text" name="text" class="form-control" id="Number of Days" placeholder="How many days to generate seating arrangements for?"/>
					</div>
				</div>
			</div>
		</form>
		<div class="row">
			<div class="col-xs-2">
			</div>
			<div class="col-xs-10" style="padding-bottom: 12px">
				or
			</div>
		</div-->
		<form class="form-horizontal" role="form" name="eventsForm">
			<div class="form-group">
				<div class="row">
					<label class="control-label col-xs-2" for="Events">Event</label>
					<div class="col-xs-8">
						<select class="form-control" name="Events">
							{{#each events}}
							<option value="{{name}}">{{name}}</option>
							{{/each}}
						</select>
					</div>
					<div class="col-xs-1" style="padding-right: 40px">
						<input type="submit" class="form-control">
					</div>
					<div class="col-xs-1"></div>
				</div>
			</div>
		</form>
	</div>
	
	{{#each tables}}
	{{#let day=@index}}
		<h1 align="Center" style="color:#007934">Day {{add @index 1}}</h1>
		{{#each array}}
			<table class="table" style="table-layout: fixed;">
				<thead>
					<tr>
						<th style="padding-left:20px">{{table}} ({{seats}} seats)</th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
				{{#each students}}
					<tr>
						<td style="padding-left:20px">{{name}}</td>
						<td style="padding-left:20px">{{company}}</td>
						<td style="padding-left:20px">{{familiarity}}</td>
					</tr>
				{{/each}}
				</tbody>
			</table>
		{{/each}}
	{{/let}}
	{{/each}}
</template>