<template name="tablesPage">
	<table class="table">
		<thead>
			<tr>
				<th style="padding-left:20px">Table Name</th>
				<th>Number of Seats</th>
			</tr>
		</thead>
		<tbody>
		{{#each tables}}
		<tr>
			<td style="padding-left:20px">{{table}}</td>
			<!--td>{{seats}} <span style="float: right; padding-right:20px"><button class="btn btn-danger">Delete</button></span></td-->
			<td>{{seats}} {{> deleteItemFromTable}}</td>
		</tr>
		{{/each}}
		</tbody>
	</table>
	<div class="jumbotron" style="padding: 20px">
		<h3 align="center">Add Table</h3>
		<div class="new-table-container">
			{{> quickForm collection="Tables" id="insertTableForm" type="insert" class="new-table-form"}}
		</div>
	</div>
</template>